//Font
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
//Border templates for larger devices
@media (min-width: 992px) {
    #bottom,
    #left,
    #right,
    #top {
        background: rgba(255, 255, 0, .8);
        position: fixed;
        z-index: 2000;
    }
    #bottom,
    #left,
    #right,
    .fixed-bottom {
        bottom: 0;
    }
    #left,
    #right {
        top: 0;
        width: 2rem;
    }
    #right {
        right: 0;
    }
    #left {
        left: 0;
    }
    #bottom,
    #top {
        left: 0;
        right: 0;
        height: 2rem;
    }
    #top {
        top: 0;
    }
}

.radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /*Fallback if gradeints don't work */
    background: #77448b;
    /*Linear gradient... */
    background: radial-gradient( at center, #2875a8, #714185);
}

body,
p,
h1,
a {
    font-family: 'Roboto Slab', serif;
    color: rgba(255, 255, 0, 0.8);
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: rgba(255, 255, 0, 1);
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.6);
}

#title {
    z-index: -2000;
}