extends ../layouts/default-layout.pug
block content
  #content.centered
    #avatar.container
      .row
        .col.pb-5
          img.img-fluid(src="https://www.gravatar.com/avatar/62fc2fdd34573817071d4289950fb02d?s=2048")
          h1.pt-5.text-center Jack Dunstan
    #social.row
      .col-4.col-md-4.pb-5.text-center
        <i class="fab fa-linkedin fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fab fa-twitter-square fa-4x"></i> 
      .col-4.col-md-4.text-center
        <i class="fab fa-instagram-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fab fa-github-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fas fa-phone-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fas fa-envelope-square fa-4x"></i>        

