extends ../layouts/default-layout.pug
block content
  #content.centered
    #avatar.container
      .row
        .col
          h1 XXX XXX
    #social.row
      .col.col-md-4
        <i class="fab fa-linkedin fa-4x"></i>  
      .col.col-md-4
        <i class="fab fa-twitter-square fa-4x"></i> 
      .col.col-md-4
        <i class="fab fa-instagram-square fa-4x"></i>  

