extends ../layouts/default-layout.pug
block content
  #content.centered
    #avatar.container
      .row
        .col.pb-5
          img.img-fluid(src="../assets/images/jack.jpg")
          h1.pt-5.text-center Jack Dunstan
    #social.row
      .col.col-12.text-center.pb-5
        <i class="fas fa-phone-square fa-4x"></i>    
      .col-4.col-md-4.pb-5.text-center
        <i class="fab fa-linkedin fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fab fa-twitter-square fa-4x"></i> 
      .col-4.col-md-4.text-center
        <i class="fab fa-instagram-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fab fa-github-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fas fa-coffee mt-2 fa-3x"></i>
      .col-4.col-md-4.pb-5.text-center
        <i class="fas fa-envelope-square fa-4x"></i> 
      .col-4.col-md-4.text-center 
        <i class="fab fa-lastfm-square fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fab fa-cc-paypal  mt-2 fa-3x"></i>  
        
      .col-4.col-md-4.pb-5.text-center  
        <i class="fas fa-qrcode fa-4x"></i> 
      .col-4.col-md-4.text-center  
        <i class="fab fa-keybase fa-4x"></i>  
      .col-4.col-md-4.text-center
        <i class="fas fa-address-card mt-2 fa-3x"></i>
      .col-4.col-md-4.text-center.pb-5  
        <i class="fab fa-bitcoin mt-2 fa-3x"></i>
      
        


